@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

:root {
  --main-bg-color:#FAFAFA;
  --main-color:#82A90D;
  --sub-Color-skyblue:#02A7D7;
  --sub-Color2-green:#29AE51;
  --sub-Color3-blue:#1D51B8;
  --sub-Color4-purple:#5D34EC;
  --Black-01:#17171B;
  --Black-02:#202632;
  --Grey-01:#54575D;
  --Grey-02:#A1A1A1;
  --Grey-03:#E1E1E0;
  --Grey-04:#F3F4F6;
  --White-01:#FFFFFF;
  --padding-sec: 80px 0;
  --Stroke-color:#EEEDF2;
  --Hover-color:#F6FDFF;
  
}

* {
  box-sizing: border-box;
  word-break: keep-all;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Pretendard' ;
  background: var(--main-bg-color);
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

/* component */

/* 네브바 */
header {
  position: fixed;
  z-index: 3;
  width: 100%;
  background: var(--White-01);
  height: 70px;
  display: flex;
  justify-content: center;
  gap: 20px;
  transition: all .4s ; 
  border-bottom: solid 1px var(--Grey-03);
}

header.on {
  height: 370px;
}

header .menu {
  display: none;
}

header ul,
header li {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .logo{
  width: 210px;
}

header .gnb {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;

}

.gnb ul {
  display: flex;
  text-align: center;
  justify-content: center;
}

.gnb ul li {
  line-height: 70px;
}

.gnb ul li a {
  padding: 20px;
}

.gnb ul li ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gnb ul li.main-1 {
  width: 150px;
}

.gnb ul li.main-2 {
  width: 150px;
}

.gnb ul li.main-3 {
  width: 150px;
}

.gnb ul li.main-4 {
  width: 150px;
}

.gnb ul li.main-5 {
  width: 150px;
}

.gnb li a {}

.gnb li .sub-menu {
  text-align: center;
  opacity: 0;
  font-size: 1.6rem;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
}

.gnb li .sub-menu.on {
  max-height: 400px;
  opacity: 1;
  display: block;
}

.gnb li .sub-menu li {
  padding: 4px 0;
}

.gnb .sub-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  transition: all 0.4s ease;
}
.gnb .sub-menu a{
  color: var(--Grey-02);
  font-weight: 500;
  transition: all .4s;
}
.gnb .sub-menu a:hover{
  color: var(--Grey-01);
  font-weight: 500;
}

.gnb .sub-menu>li {
  line-height: 30px;
}

.gnb .sub-menu.on {
  height: auto;
}

.gnb .obj {
  width: 200px;
  margin-top: 80px;
  opacity: 1;
  transition: all 0.4s ease;
}

.gnb .obj.on {
  margin-top: 80px;
  opacity: 1;
  transition: all 0.4s ease;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  position: relative;
  z-index: 100;
}

.bar {
  display: none;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* 활성화 상태 (X 모양으로 변환) */
.menu-toggle.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.mobile-menu {
  padding: 20px 15px;
  position: fixed;
  right: 0;
  z-index: 2000;
  height: 100%;
  width: 250px;
  background: var(--Black-02);
  transform: translate(300px,0);
  transition: all .4s;
}
.mobile-menu.on {
  transform: translate(0,0);
}
.mobile-dim {
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  background: var(--Black-01);
  opacity: 0;
  z-index: 1900;
  position: fixed;
  transition: all .4s;
}
.mobile-dim.on {
  visibility: visible;
  opacity: .5;
}


.mobile-menu a {
  display: inline-block;
  padding: 10px 0;
  color: var(--Grey-01);
  font-size: 2.5rem;
  transition: all .3s;
}
.mobile-menu a:hover {
  color: var(--main-color);
}
.mobile-menu_close {
  position: fixed;
  z-index: 2000;
  right: 0;
  transform: translate(250px,0);
}
.mobile-menu_close.on {
  transition: all .4s;
  transform: translate(-250px,0);
}



/* 메인 상단 이미지배너 */
.maintop {
  padding: var(--padding-sec);
}
.maintop .mainlogo_img {
  margin: 0 auto;
  width: 30%;
}
.maintop .mainlogo_img img {
  width: 100%;
}


/* 푸터 */





/* margin */
.mt-20 {
  margin-top: 20px;
}

.mt-60 {
  margin-top: 60px;
}

.mb-50 {
 margin-bottom: 50px;
}

.mb-45 {
 margin-bottom: 45px;
}



