@charset "UTF-8";
@import url("/assets/css/common.css");
.section01 {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--main-bg-color);
}
.section01 .row {
  background: var(--White-01);
  padding: 50px 0;
  border-radius: 18px;
  border: 1px solid var(--Stroke-color);
}
.section01 .row h1 {
  font-size: 2.4rem;
  color: var(--Black-01);
  margin-bottom: 0;
  font-weight: 700;
}
.section01 .row p {
  font-size: 1.8rem;
  color: var(--Grey-01);
}

.section02 {
  margin: 0 auto;
  padding: 30px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
  gap: 30px;
}
.section02 .attraction-card {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--Stroke-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.5s;
  display: flex;
  position: relative; /* 바로가기 버튼 위치 지정을 위해 추가 */
}
.section02 .attraction_div .attraction-card + .attraction-card {
  margin: 40px 0;
}
.section02 .attraction-card.show {
  opacity: 1;
  transform: translateY(0);
  padding: 30px 20px;
}
.section02 .attraction-image {
  width: 26%;
  overflow: hidden;
}
.section02 .attraction-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.attraction-card:hover {
  transform: translateY(-10px) !important;
  border: 1px solid var(--sub-Color3-blue);
}

.attraction-info {
  padding: 25px;
  flex: 1;
  position: relative;
}

.attraction-info h2 {
  font-size: 2.4rem;
  color: var(--Black-01);
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.attraction-info p {
  color: var(--Grey-01);
  margin-bottom: 1.8rem;
  font-size: 1.6rem;
}

.attraction-details {
  margin-top: 34px;
}
.attraction-details span {
  font-size: 1.4rem;
}

.detail-item {
  display: flex;
  margin-bottom: 8px;
  align-items: flex-start;
}
.detail-item p {
  margin: 0;
}
.detail-item a {
  color: var(--Grey-01);
  font-size: 1.4rem;
}

.detail-item a:hover {
  color: #2980b9;
  text-decoration: underline;
}

.go-to-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: var();
  border: var();
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 20px 30px;
}

.go-to-button i {
  margin-left: 5px;
}

.go-to-button:hover {
  background-color: #2980b9;
  transform: translateY(-50%) translateX(5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .section02 .attraction-image {
    width: 30%;
  }
  .banner {
    height: 200px;
  }
  .title-section h1 {
    font-size: 2rem;
  }
  .attraction-list {
    grid-template-columns: 1fr;
  }
  .go-to-button {
    padding: 8px 15px;
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .section02 .attraction-image {
    width: 100%;
  }
  .section02 .attraction-card.show {
    padding: 20px 20px;
  }
  .attraction-details {
    margin-top: 10px;
  }
  .attraction-info {
    padding: 10px 0 0 0;
  }
  .banner {
    height: 150px;
  }
  .title-section h1 {
    font-size: 1.8rem;
  }
  .attraction-card {
    flex-direction: column;
  }
  .attraction-image {
    width: 100%;
    height: 150px;
  }
  .go-to-button {
    position: static;
    transform: none;
    margin-top: 15px;
    align-self: flex-end;
  }
  .go-to-button:hover {
    transform: translateX(5px);
  }
}/*# sourceMappingURL=near.css.map */