@charset "UTF-8";
@import url("common.css");
#loadingScreen {
  opacity: 1;
  transition: opacity 1s ease;
}

#loadingScreen.hidden {
  opacity: 0;
  pointer-events: none; /* 클릭 막기 */
}

#loadingScreen {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loadingScreen video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#loadingControls {
  position: absolute;
  bottom: 8%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  pointer-events: auto;
}

/* 프로그레스 바 외곽 */
#skipButton {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 5%;
  border: none;
  color: white;
  font-size: 1.6rem;
  padding: 15px 30px;
  cursor: pointer;
  border-radius: 4px;
  white-space: nowrap;
  font-weight: 700;
  user-select: none;
  transition: all 0.4s;
}

#skipButton:hover {
  background: var(--sub-Color3-blue);
}

body.loading {
  overflow: hidden;
  height: 100vh;
}

.mainContent {
  display: none;
  opacity: 0;
  transition: all 2s;
}

.mainContent.on {
  display: block;
  opacity: 1;
}

.section01 {
  text-align: center;
  position: relative;
}
.section01 h2 {
  color: var(--White-01);
  font-size: 10rem;
}
.section01 .video-background {
  width: 100%;
  height: 1000px;
  position: relative;
}
.section01 .video-background video {
  width: 100%;
  height: 84%;
  object-fit: cover;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  z-index: 0;
}
.section01 .video-background .video-dim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.section01 .content {
  width: 700px;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--White-01);
  display: flex;
}

.section02 {
  opacity: 0;
  transform: translateY(100px); /* 약간 아래에서 시작 */
  transition: all 1.5s;
  padding: var(--padding-sec);
}
.section02.active {
  opacity: 1;
  transform: translateY(0);
}
.section02 .d-grid {
  grid-template-columns: repeat(4, 1fr);
}
.section02 .title h3 {
  color: var(--black-01);
  font-size: 5rem;
  font-weight: 600;
  text-align: center;
}
.section02 .card {
  border-radius: 50px;
}
.section02 .item-card {
  position: relative;
}
.section02 .item-card:hover .overlay {
  opacity: 1;
}
.section02 .item-card .overlay {
  background-color: var(--sub-Color4-purple);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px 40px 0 40px;
  transition: all 0.3s;
}
.section02 .item-card .overlay p {
  color: var(--White-01);
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.section02 .item-card .overlay .overlay-next {
  padding: 8px 40px;
  background: var(--White-01);
  border-radius: 30px;
}
.section03 {
  padding: var(--padding-sec);
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s;
}
.section03.active {
  opacity: 1;
  transform: translate(0, 0);
}
.section03 .text {
  letter-spacing: 1px;
}
.section03 .text h3 {
  color: var(--black-01);
  font-size: 4rem;
  font-weight: 700;
}
.section03 .text p {
  color: var(--Grey-01);
  font-size: 2.4rem;
  font-weight: 600;
}
.section03 .text input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid var(--Black-02);
  width: 80%;
  padding: 1.3rem;
  font-size: 2rem;
}
.section03 .text input::placeholder {
  font-size: 2rem;
}
.section03 .text button {
  border: none;
  background: none;
}
.section03 .text button i {
  font-size: 2rem;
}
.section03 img {
  width: 3rem;
}
.section03 .tag_wrapper {
  position: relative;
  width: 41.9rem;
  height: 31.8rem;
  margin: 0 auto;
}
.section03 .tag_wrapper .tag01 {
  padding: 10px 20px;
  width: 14.5rem;
  border-radius: 30px 30px 0 30px;
  background: var(--sub-Color4-purple);
  position: absolute;
  top: 7.55%;
  left: 20.53%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag01 img {
  width: 4.2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag01 p {
  color: var(--White-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag01:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag01:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag01:hover p {
  transform: translateX(2px);
}
.section03 .tag_wrapper .tag02 {
  padding: 10px 20px;
  width: 14.5rem;
  border-radius: 30px 30px 0 30px;
  background: var(--White-01);
  position: absolute;
  top: 37.42%;
  left: 0%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag02 img {
  width: 3.4rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag02 p {
  color: var(--black-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag02:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag02:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag02:hover p {
  transform: translateX(2px);
}
.section03 .tag_wrapper .tag03 {
  padding: 10px 20px;
  width: 12.5rem;
  border-radius: 30px 30px 0 30px;
  background: var(--White-01);
  position: absolute;
  top: 74.21%;
  left: 8.83%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag03 img {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag03 p {
  color: var(--black-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag03:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag03:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag03:hover p {
  transform: translateX(2px);
}
.section03 .tag_wrapper .tag04 {
  padding: 10px 20px;
  width: 12.5rem;
  border-radius: 30px 30px 0 30px;
  background: var(--Black-01);
  position: absolute;
  top: 0%;
  left: 71.6%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag04 img {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag04 p {
  color: var(--White-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag04:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag04:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag04:hover p {
  transform: translateX(2px);
}
.section03 .tag_wrapper .tag05 {
  padding: 10px 20px;
  width: 17rem;
  border-radius: 30px 30px 0 30px;
  background: var(--White-01);
  position: absolute;
  top: 24.21%;
  left: 58.3%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag05 img {
  width: 2.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag05 p {
  color: var(--black-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag05:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag05:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag05:hover p {
  transform: translateX(2px);
}
.section03 .tag_wrapper .tag06 {
  padding: 10px 20px;
  width: 13rem;
  border-radius: 45px 45px 0 45px;
  background: #29AE51;
  position: absolute;
  top: 54.09%;
  left: 52.51%;
  transform: translate(0, 0);
  box-shadow: 3px 13px 25.4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  z-index: 1;
  /* 마우스 오버 효과 */
}
.section03 .tag_wrapper .tag06 img {
  width: 2.5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag06 p {
  color: var(--White-01);
  font-size: 2.4rem;
  font-weight: 600;
  margin-left: 0.7rem;
  margin-bottom: 0rem;
  transition: transform 0.3s ease;
}
.section03 .tag_wrapper .tag06:hover {
  transform: scale(1.05) translateY(-3px);
  box-shadow: 5px 15px 30px 0px rgba(0, 0, 0, 0.18);
}
.section03 .tag_wrapper .tag06:hover img {
  transform: scale(1.1);
}
.section03 .tag_wrapper .tag06:hover p {
  transform: translateX(2px);
}

.section04 {
  padding: var(--padding-sec);
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s ease;
}
.section04.active {
  opacity: 1;
  transform: translate(0, 0);
}
.section04 .d-grid {
  grid-template-columns: repeat(2, 1fr);
}
.section04 .title {
  text-align: center;
  margin-bottom: 100px;
}
.section04 .title h3 {
  color: var(--Black-01);
  font-size: 6rem;
  font-weight: 700;
}
.section04 .title p {
  color: var(--Grey-01);
  font-size: 2rem;
  font-weight: 700;
}
.section04 .card {
  background: var(--White-01);
  border-radius: 20px;
  padding: 10px;
  border: solid 1px var(--Stroke-color);
  transition: all 0.5s;
}
.section04 .card:hover {
  border: solid 1px var(--sub-Color3-blue);
}
.section04 .card .img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.section04 .card .img-wrapper img {
  transition: all 0.3s;
}
.section04 .card .img-wrapper img:hover {
  transform: scale(1.05);
}
.section04 .card .text {
  padding-top: 20px;
}
.section04 .card h4 {
  color: var(--Black-01);
  font-size: 2.6rem;
  font-weight: 700;
}
.section04 .card p {
  color: var(--Grey-01);
  font-size: 2rem;
  font-weight: 400;
}

.section05 {
  padding: var(--padding-sec);
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s ease;
}
.section05.active {
  transform: translate(0, 0);
  opacity: 1;
}
.section05 .d-grid {
  grid-template-columns: repeat(2, 1fr);
}
.section05 .title {
  text-align: center;
  margin-bottom: 100px;
}
.section05 .title h3 {
  color: var(--Black-01);
  font-size: 6rem;
  font-weight: 700;
}
.section05 .title p {
  color: var(--Grey-01);
  font-size: 2rem;
  font-weight: 700;
}
.section05 .card {
  background: var(--White-01);
  border-radius: 20px;
  padding: 10px;
  border: 1px solid var(--Stroke-color);
  transition: all 0.5s;
}
.section05 .card:hover {
  border: 1px solid var(--sub-Color3-blue);
}
.section05 .card .img-wrapper {
  overflow: hidden;
  border-radius: 20px;
}
.section05 .card .img-wrapper img {
  transition: all 0.3s;
}
.section05 .card .img-wrapper img:hover {
  transform: scale(1.05);
}
.section05 .card .text {
  padding-top: 20px;
}
.section05 .card h4 {
  color: var(--Black-01);
  font-size: 2.6rem;
  font-weight: 700;
}
.section05 .card p {
  color: var(--Grey-01);
  font-size: 2rem;
  font-weight: 400;
}

.section06 {
  padding: var(--padding-sec);
  opacity: 0;
  transform: translate(0, 100px);
  transition: all 1s ease;
}
.section06.active {
  opacity: 1;
  transform: translate(0, 0);
}
.section06 .d-grid {
  grid-template-columns: repeat(2, 1fr);
}
.section06 .col-md-12 {
  padding: 20px 30px;
  background: var(--White-01);
  border-radius: 20px;
  border: 1px solid var(--Stroke-color);
  transition: all 0.5s;
}
.section06 .col-md-12:hover {
  border: 1px solid var(--sub-Color3-blue);
}
.section06 .title {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.section06 .title h3 {
  color: var(--Black-01);
  font-size: 3rem;
  font-weight: 700;
}
.section06 button {
  align-self: center;
  border: none;
  background: none;
  color: var(--black-01);
  font-size: 1.8rem;
  font-weight: 700;
}
.section06 button:hover {
  text-decoration: underline;
}
.section06 button #map {
  width: 400px;
  height: 200px;
}
.section06 .notice .content {
  color: var(--Grey-01);
  display: flex;
  margin-bottom: 4rem;
}
.section06 .notice .content .head {
  border-bottom: 1px solid var(--Black-01);
}
.section06 .notice .content .head h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.section06 .notice .content .head:hover {
  color: var(--Black-01);
}
.section06 .notice .content .date {
  font-size: 1.4rem;
  text-align: right;
  font-weight: 500;
}
.section06 #map {
  border-radius: 30px;
}

@media (max-width: 1280px) {
  .section01 .video-background video {
    height: 60%;
    top: 49%;
  }
  .section01 .video-background .video-dim {
    top: 190px;
    height: 60%;
  }
}
@media (max-width: 768px) {
  .gap-3 {
    gap: 2rem !important;
  }
  .section01 .video-background {
    height: 620px;
  }
  .section01 .video-background .video-dim {
    top: 117px;
  }
  .section01 .content {
    width: 400px;
  }
  .section02 .item-card .overlay {
    border-radius: 20px 20px 0 20px;
  }
  .section02 .item-card .overlay .overlay-next {
    padding: 6px 30px;
  }
  .section04 .d-grid, .section05 .d-grid, .section06 .d-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .section06 .notice .content {
    justify-content: space-between;
  }
}
@media (max-width: 480px) {
  .section01 .video-background video {
    height: 80%;
  }
  .section01 .video-background .video-dim {
    height: 77.5%;
    top: 70px;
  }
  .section01 .content {
    width: 300px;
  }
  .section02 .d-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .section02 .item-card .overlay p {
    font-size: 4rem;
  }
  .section04 .title, .section05 .title {
    margin-bottom: 50px;
  }
}/*# sourceMappingURL=style.css.map */